<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/View/main.css">
</head>

<body>
    <header>
        <p id="Logo">Ready<span id="comercial">&</span>Go</p>
        <nav>
            <ul id="menu">
                <li><a href="#">Home</a></li>
                <li id=""><a href="#">About</a></li>
                <li id=""><a href="#">Contact</a></li>
                <li id=""><a href="#">Blog</a></li>
                <li id=""><a href="#">Videos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="textos">
            <p id="texto1">Your perfect honeymoon</p>
            <p id="texto2">Mayami is more than a honeymoon destination – it’s a perfect romantic spot for couples who
                like spending time in beach. </p>
        </div>
        <button id="btn">Start</button>
    </main>
</body>

</html>