<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/View/main.css">
</head>

<body>
    <header>
        <p id="Logo">Ready<span id="comercial">&</span>Go</p>
        <nav>
            <ul id="menu">
                <li><a href="#">Home</a></li>
                <li id="about"><a href="#">About</a></li>
                <li id="contact"><a href="#">Contact</a></li>
                <li id="blog"><a href="#">Blog</a></li>
                <li id="videos"><a href="#">Videos</a></li>
            </ul>
            <a href="#">
                <div id="phone">
                    <p id="numero">+38(097)8849989</p>
                    <img id="phone-icon" src="/img/phone.png">
                </div>
            </a>
        </nav>
    </header>
    <main>
        <div id="textos">
            <p id="texto1">Your perfect honeymoon</p>
            <p id="texto2">Mayami is more than a honeymoon destination – it’s a perfect romantic spot for couples who
                like spending time in beach. </p>
        </div>
        <button id="btn">Start</button>
        <div id="imagens">
            <img id="palm" src="/img/palm.png" alt="Palmeiras não tem mundial">
            <img id="nuvem1" src="/img/nuvem 1.png">
            <img id="nuvem2" src="/img/nuvem 2.png">
            <img id="elipse" src="/img/elipse.png">
        </div>
    </main>
    <footer>
            <div id="social">
                <a href="#"><img id="facebook-icon" src="/img/facebook-icon.png"></a>
                <a href="#"><img id="twitter-icon" src="/img/twitter-icon.png"></a>
                <a href="#"><img id="linkedin-icon" src="/img/linkedin-icon.png"></a>
            </div>
            <div id="cards">
                <a href="#">
                    <div id="card1">
                        <div id="frame1">
                            <p id="hawaii" class="cidades">Hawaii</p>
                            <img class="flecha" src="/img/arrow-right.svg">
                        </div>
                        <img id="img-hawaii" src="/img/img-hawaii.png">
                    </div>
                </a>
                <a href="#">
                    <div id="card2">
                        <div id="frame2">
                            <p id="cyprus" class="cidades">Cyprus</p>
                            <img class="flecha" src="/img/arrow-right.svg">
                        </div>
                        <img id="img-cyprus" src="/img/img-cyprus.png">
                    </div>
                </a>
                <a href="#">
                    <div id="card3">
                        <div id="frame3">
                            <p id="bali" class="cidades">Bali</p>
                            <img class="flecha" src="/img/arrow-right.svg">
                        </div>
                        <img id="img-bali" src="/img/img-bali.png">
                    </div>
                </a>
            </div>
    </footer>
</body>

</html>