* {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 0px;   
    background: linear-gradient(359.75deg, #8489FF 0.23%, #61C0F5 99.79%);
}

#Logo {
    position: absolute;
    width: 176px;
    height: 42.62px;
    left: 135px;
    top: 53px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 34.375px;
    line-height: 43px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#comercial {
    color: #FFB9AF
}

#textos {
    position: absolute;
    width: 544.05px;
    height: 329.94px;
    left: 135px;
    top: 238px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

#texto1 {
    position: absolute;
    width: 521.13px;
    height: 191.04px;
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 78.6505px;
    line-height: 133%;
}

#texto2 {
    position: absolute;
    width: 543.05px;
    height: 102.89px;
    left: 1px;
    top: 227.04px;
    letter-spacing: 0.015em;
    font-weight: 500;
    font-size: 20.2852px;
    line-height: 170%;
}

#btn {
    position: absolute;
    width: 298px;
    height: 56.43px;
    left: 135px;
    top: 601.72px;
    background: linear-gradient(93.7deg, #EED761 21.68%, #FFB9AF 79.85%);
    box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.5);
    border-radius: 88.1657px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}

li {
    display: inline;
}

#menu {
    position: absolute;
    width: 570px;
    height: 29.43px;
    left: 435px;
    top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24.5267px;
    line-height: 30px;
}

