* {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 0px;   
    background: linear-gradient(359.75deg, #8489FF 0.23%, #61C0F5 99.79%);
}

#Logo {
    position: absolute;
    width: 176px;
    height: 42.62px;
    left: 135px;
    top: 53px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 34.375px;
    line-height: 43px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#comercial {
    color: #FFB9AF
}

#textos {
    position: absolute;
    width: 544.05px;
    height: 329.94px;
    left: 135px;
    top: 238px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

#texto1 {
    position: absolute;
    width: 521.13px;
    height: 191.04px;
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 78.6505px;
    line-height: 133%;
}

#texto2 {
    position: absolute;
    width: 543.05px;
    height: 102.89px;
    left: 1px;
    top: 227.04px;
    letter-spacing: 0.015em;
    font-weight: 500;
    font-size: 20.2852px;
    line-height: 170%;
}

#btn {
    position: absolute;
    width: 298px;
    height: 56.43px;
    left: 135px;
    top: 601.72px;
    background: linear-gradient(93.7deg, #EED761 21.68%, #FFB9AF 79.85%);
    box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.5);
    border-radius: 88.1657px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
    cursor: pointer;
}

#btn:hover {
    background: linear-gradient(93.7deg, #eed661be 21.68%, #ffbaafd3 79.85%);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}

a:hover {
    color: rgb(231, 231, 231);
}

li {
    display: inline;
    position: absolute;
}

#menu {
    position: absolute;
    width: 570px;
    height: 29.43px;
    left: 435px;
    top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24.5267px;
    line-height: 30px;
}

#about {
    /* position: absolute; */
    left: 120.67px;
}

#contact {
    /* position: absolute; */
    left: 241.34px;
}

#blog {
    /* position: absolute; */
    left: 382.62px;
}

#videos {
    /* position: absolute; */
    left: 485.63px;
}

#phone {
    position: absolute;
    width: 202px;
    height: 23.05px;
    left: 1102px;
    top: 63px;
}

#numero {
    position: absolute;
    width: 169px;
    height: 23.05px;
    left: 33px;
    top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 19.2045px;
    line-height: 23px;
    color: #FFFFFF;
}

#numero:hover {
    color: rgb(231, 231, 231);
}

#phone-icon {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 0px;
    top: 3px;
}

#imagens {
    position: absolute;
    width: 794px;
    height: 795px;
    left: 646px;
    top: 191px;
}

#nuvem1 {
    position: absolute;
    width: 468px;
    height: 195px;
    left: 326px;
    top: 0px;
    z-index: 1;
}

#nuvem2 {
    position: absolute;
    width: 468px;
    height: 195px;
    left: 17px;
    top: 285px;
    z-index: 1;
}

#palm {
    position: absolute;
    /* width: 765px;
    height: 765px;
    left: 0px;
    top: 0px; */
    z-index: 2;
}

#elipse {
    position: absolute;
    width: 646px;
    height: 646px;
    left: 74px;
    top: 28px;
    background: #FFFFFF;
    opacity: 0.8;
    filter: blur(250px);
    z-index: 0;
}

#social {
    position: absolute;
    width: 130px;
    height: 22px;
    left: 1175px;
    top: 843px;
    z-index: 3;
}

#facebook-icon {
    position: absolute;
    width: 10.75px;
    height: 21.29px;
    left: 0px;
    top: 0px;
}

#twitter-icon {
    position: absolute;
    width: 21.29px;
    height: 17.43px;
    left: 48.75px;
    top: 2.13px;
}

#linkedin-icon {
    position: absolute;
    left: 83.11%;
    right: 0.52%;
    top: 0%;
    bottom: 3.24%;
}